* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol, li {
    list-style: none;
}

.page-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.page-container-bg-up {
    width: 100%;
    height: 100px;
    background-color: #019689;
}

.page-container-bg-down {
    width: 100%;
    height: calc(700px - 100px);
    background-color: #D7DBD9;
    display: flex;
    justify-content: center;
}

.app-content {
    width: 570px;
    height: 650px;
    margin-top: -85px;
    display: flex;
}

.left-content {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-content {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.my-setting {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: #EBE9EB;
}

.my-setting-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.my-setting-img {
    width: 30px;
    border-radius: 50%;
}

.my-setting-name {
    font-size: 15px;
    font-weight: bold;
}

.ellipsis-vertical {
    opacity: 0.3;
}

.notification-alert {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    background-color: #BBDCE9;
    padding-left: 5px;
}

.notification-alert-icon {
    width: 27px;
    line-height: 27px;
    background-color: white;
    border-radius: 50%;
    color: #BBDCE9;
    text-align: center;
    vertical-align: center;
    font-size: 13px;
}

.notification-alert-text {
    font-size: 9px;
}

.chats {
    flex-grow: 1;
    background-color: white;
}

.search-chats {
    background-color: #EBE9EB;
    height: 27px;
    padding: 4px 2px;
    border-bottom: 1px solid lightgray;
    display: flex;
}

.search-chats > input {
    width: 85%;
    font-size: 11px;
}

.search-chats > button {
    width: 15%;
    font-size: 11px;
}

input::placeholder {
    font-weight: bold;
    font-size: 9px;

}

.chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    position: relative;
    padding: 4px 2px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.chat-left {
    display: flex;
    align-items: center;
}

.chat-img {
    width: 30px;
    border-radius: 50%;
}

.chat-info {
    font-size: 10px;
}

.chat-name {
    font-weight: bold;
}

.chat-text {
    color: gray;
}

.chat-time {
    font-size: 8px;
    position: absolute;
    right: 2px;
    top: 4px;
    color: gray;
}

.user-setting {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: #EBE9EB;
    border-left: 1px solid lightgrey;
}

.user-setting-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-setting-right {
    font-size: 12px;
    opacity: 0.3;
    display: flex;
    gap: 8px;
}

.user-setting-img {
    width: 30px;
    border-radius: 50%;
}

.user-setting-text {
    font-size: 10px;
}

.user-setting-name {
    font-weight: bold;
}

.user-setting-parag {
    color: gray;
}

.conversation {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
}

.send-message {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0 15px;
    background-color: #EBE9EB;
}
.sending {
    flex-grow: 1;
}

.sending > input {
    width: 100%;
}

.sending > input::placeholder {
    opacity: 0.4;
}

.message-container {
    padding: 20px 4px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.sented-messages {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 10px;
}

.sented-message {
    height: 30px;
    line-height: 27px;
    vertical-align: center;
    border-radius: 5px;
    background-color: #D7F9BC;
    text-align: end;
    font-size: 11px;
    padding: 2px 4px;
}

.received-message {
    height: 30px;
    line-height: 27px;
    vertical-align: center;
    border-radius: 5px;
    background-color: white;
    text-align: start;
    font-size: 11px;
    padding: 2px 4px;
    align-self: self-end;
    /* margin-top: 50px; */
}

